<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.ac.gndec.tnp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/gne_fb_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/gne_fb_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginSignup" />
        <activity android:name=".RegisterUser" />
        <activity android:name=".Profile" />

        <activity android:name=".DashboardActivity"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>